- content_for :head do
  %meta{:name => "description", :content => "Online counseling is professional mental health counseling over the internet. iCouch is leading the way in this exciting new way to get help."}/
  %meta{:name => "keywords", :content => "counseling, online counseling, online therapy, research, effectiveness, sessions, find a therapist, find a counselor, mental health, affordable therapy, licensed counselor, minorities, technology, e-therapy" }/
  - @title ="iCouch | What is Online Counseling?"
  %title =@title
  
%section#static_content
  %header
    %h1 What is Online Counseling?
    
  %article.policy.copy
    %p{:style => "color:#c43b84"}
      If you are experiencing an
      %strong
        emergency
      &mdash; online therapy is not right for you. Please
      %strong
        visit #{link_to "Befrienders Worldwide", href="http://www.befrienders.org"}
      for help specific to your location.
    %p Online counseling is professional mental health counseling over the Internet.  Some clients use online counseling in conjunction with traditional psychotherapy, but a growing number are using online counseling as a complete replacement to traditional office visits.  iCouch is leading the way in this exciting new way to get the help you need at a price you can afford.

    %p
      %strong iCouch is your therapy -- on your couch! You can even wear pajamas.. It's real therapy on your terms.

    %h2 We make it easy to find the perfect counselor.

    %p We feature fully-interactive video counseling with licensed professionals. Our counselors speak many languages and are primarily located in North America, but we have counselors located all across the world and we are adding more counselors each day. We have a tough screening process that ensures that only experienced professionals with a great professional record are allowed into our network.

    %h2 Online counseling is makes getting great help as easy as turning on your computer.

    %p While some form of telepsychology has been going for over 35 years , the advent of internet video chat systems and the widespread availability of broadband internet makes online therapy a real alternative to the hassle of traditional office visits. Imagine avoiding the traffic, parking and waiting rooms! Imagine being able to see your counselor from anywhere -- even using your iPhone 2, iPad 2 or other video-enabled mobile device.

    %h2 Online counseling is real therapy -- the research proves it.

    %p The growing body of research into online counseling has established the effectiveness of online therapy with treatment results at least equal to traditional in-office settings. Online therapy has additional benefits unrealized by office-based treatments as it allows you to attend sessions at a more easily than with traditional face-to-face sessions. The number of missed appointments is much less than with in-person therapy. Research suggests that online counseling is even MORE effective because clients are more relaxed and feel less intimidated than they would in traditional settings. This makes clients more likely to be honest and thus allow the counselor to provide better treatment.

    %p Online counseling is also filling the needs for clients located in areas traditionally under-served by traditional counselors. Rural residents and expats along with under-served minorities often have an easier time finding a suitable therapist online than in their local communities. These access issues are solved with online counseling resources and result in clients receiving culturally or linguistically relevant treatment that they would not have otherwise been able to receive.

    %p Online counseling has also been shown to be effective for clients who may have difficulty reaching appointments during normal business hours. Additionally, research is demonstrating that online counseling may be useful for disabled and rural people that traditionally under-use counseling services. Some in the psychology community have argued that online therapy can never replace traditional face-to-face therapy. Research suggests that online counseling would most benefit people functioning at a moderately high level. Severe situations such as being at immediate risk for suicide having a psychotic episode might be better served by traditional face-to-face methods. Although further research may prove otherwise. It's such a cutting edge area of research -- new benefits are being discovered all the time.

    %h2 The Effectiveness of Online Counseling

    %p A study on the effectiveness of online therapy for treatment of anxiety disorders in students and found that there was no difference in the level of change between the online group and the in-person group as measured by the #{link_to "State-Trait Anxiety Inventory", "http://en.wikipedia.org/wiki/State-Trait_Anxiety_Inventory"}. That simply means, online counseling is JUST as effective as in-person therapy for anxiety problems.

    %p The main goal of counseling is to reduce a client's distress, anxiety or concerns when he or she enters therapy.  Under that definition, online counseling is tremendously effective. Client satisfaction surveys tend to demonstrate a high level of client satisfaction with online counseling. A few in the psychology community argue that online counseling cannot be considered psychotherapy. However the scientific research has proven that attitude is a myth. People also once said the the telephone would never be a commercially useful tool and that the Internet was just a fad! Just think of how many of your daily activities on now completed online. Years ago who would have imagined buying books or paying bills online? Now, it's something we all do! Over 30 years ago, when distance technology first made an appearance in the scientific research literature, similar complaints were lodged against telephone therapy. However in 2000, a study established that over 98% of psychologists who were members of the American Psychological Association used the telephone as a regular means of therapy, including 69% who conducted psychotherapy on the telephone and 79% who used it for emergency consultations. A 2003 study established that telephone therapy outcomes were not significantly different from face-to-face therapy. What does that all mean?

    %h3 Online therapy not only works, but works at least as well as in-person therapy!

    %h2 "It all sounds great, but where's your proof?"

    %p At iCouch, we love reading research! We love it when we find a great article that helps us help others. If you're interested in some scientific reading -- if you want to see "proof," then here are some of the more prominent research references on online counseling.

    %ol
      %li= link_to "Mallen, Michael J.; David L. Vogel (November 2005). “Introduction to the Major Contribution Counseling Psychology and Online Counseling”. The Counseling Psychologist 33 (6): 761-775. doi:10.1177/0011000005278623.", href="http://tcp.sagepub.com/content/33/6/761.short"
      %li= link_to "Mallen, Michael J.; Vogel, Rochlen and Day (November 2005). “Online Counseling Reviewing the Literature From a Counseling Psychology Framework”. The Counseling Psychologist 33 (6): 819-871. doi:10.1177/0011000005278624.",href="http://aaronrochlen.edb.utexas.edu/download/PDFs/2005-OnlineCounselingLitReview.pdf"
      %li= link_to "Glueckauf, R.L.; Fritz, Ecklund-Johnson, Liss, Dages, Carney (2002). “Videoconferencing-based family counseling for rural teenagers with epilepsy”. Rehabilitation Psychology 47: 49-72.", href="http://psycnet.apa.org/psycinfo/2002-00338-003"
      %li= link_to "Spiro, R.H.; Devenis (1991). “Telephone Therapy: Enhancement of the psychotherapeutic process”. Psychotherapy in Private Practice 9: 31-55.", href="http://psycnet.apa.org/psycinfo/1992-32181-001"
      %li= link_to "Sue, D.W. (1999). Counseling the Culturally Different, theory and practice. John Wiley.", href="http://www.amazon.com/Counseling-Culturally-Different-Theory-Practice/dp/0471148873"
      %li= link_to "Change, T.; Yeh, Krumboltz (2001). “Process and outcome evaluation of an on-line support group for Asian American male college students”. Journal of Counseling Psychology 48: 319-329.", href="http://psycnet.apa.org/journals/cou/48/3/319.html"
      %li= link_to "Stofle, G.S. (2001). Choosing an online therapist. White Hat Communications.", href="http://www.amazon.com/Choosing-Online-Therapist-Step-Step/dp/1929109059"
      %li= link_to "Suler, J (2000). “Psychotherapy in cyberspace: A 5 dimensional model of online and computer-mediated psychotherapy”. CyberPsychology & Behavior 3: 151-160.", href="http://users.rider.edu/~suler/psycyber/therapy.html"
      %li= link_to "Zelvin, E. (2004). Online Counseling Skills Part I: Treatment Strategies and Skills for Conducting Counseling Online. Academic Press.", href="http://www.abe.pl/html/samples/b/0124259553.pdf"
      %li= link_to "Cohen, G.E.; Kerr, B.A. (1998). “Computer-mediated counseling: An empirical study of a new mental health treatment”. Computers in Human Services 15: 13-26.", href="http://www.informaworld.com/index/904337816.pdf"
      %li= link_to "Dongier, M.; Templer, R., Lalinec-Michaud, M., Meuneir, D.. “Telepsychiatry: Psychiatric consultation through two-way television: A controlled study.”. Canadian Journal of Psychiatry 31: 32-34.", href="http://www.ncbi.nlm.nih.gov/pubmed/3512068"
      %li= link_to "Kessler, David; Lewis, Kaur et al (August 2009). “Therapist-delivered internet psychotherapy for depression in primary care: a randomised controlled trial”. The Lancet 374 (9690): 628 – 634. doi:10.1016/S0140-6736(09)61257-5.", href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(09)61257-5/abstract"
      %li Lamb, C.W. (1969). “Telephone therapy: some common errors and fallacies”. Voices: The Art & Science of Psychotherapy 5: 42-46.
      %li= link_to "VandenBos, G.R.; Williams, S. (2000). “The internet versus the telephone: What is telehealth anyway?”. Professional Psychology: Research and Practice 31: 490-492.", href="http://psycnet.apa.org/journals/pro/31/5/490.html"
      %li= link_to "Sangha, K.K.; Dircks, A., Langlois, S. (2003). “Assessment of the effectiveness of genetic counseling by telephone compared to a clinic visit”. Journal of Genetic Counseling 12: 171-184.", href="http://www.genome.gov/Pages/About/OD/OPCE/GHB/Jenkinsetal-GeneticsinMedicine.pdf"

    %h3 Want to learn more? Visit the #{link_to"iCouch Lounge", the_lounge_path}!
    %h3 Your therapy. Your couch. iCouch.
