- content_for :head do
  %meta{:name => "description", :content => "How can iCouch online therapy help my anxiety?"}/
  %meta{:name => "keywords", :content => "counseling, online therapy, therapy, anxiety, anxiety cycle" }/
  - @title ="iCouch | Anxiety"
  %title =@title

%section#static_content
  %header
    %h1 Anxiety
  %article.copy
    %h2 Do you feel anxious?
    %p
      Anxiety happens to everyone! However, for many people anxiety can be so hard to manage that it interferes with your daily life. Simple things like shopping or talking to coworkers can become excruciatingly impossible. 
    %p
      The good news is that therapy can be highly effective for helping you reduce your anxiety and owning the world rather than the world owning you! Online therapy sessions with your iCouch therapist are a great way to beat your anxiety. After all, when your anxiety is bad, the last thing you want to do is leave the house! iCouch makes it easy for you to get the help you need without you having to deal with the stresses of traveling to an appointment.
    %p
      For your first session, your iCouch therapist will spend much of the time learning about you. They'll ask questions, sometimes very personal ones designed to help understand your situation and your personality. While it seems all therapists do is ask questions, those questions also serve to help you understand yourself. Your therapist will then help you create a plan to help yourself. Some therapists like to assign "homework." For example, many iCouch therapists suggest you use the #{link_to "iCouch CBT iPhone app", "http://itunes.apple.com/us/app/icouch-cbt/id446115508?mt=8"} to track your situations throughout the week. Other therapists might ask you to keep a personal journal and explore your thoughts. The important thing is that you develop a trusting relationship with you therapist to get the maximum benefit.
    %p
      Your therapist was also spend some time discussing the Anxiety Cycle. While each therapist will have their own variations, the general cycle to anxiety starts with a trigger event. This trigger is what starts the anxiety. Understanding your triggers will help you beat your anxiety. This is where your iCouch therapist can really shine! You might not even know what your triggers are. This is how therapy can help. It helps you understand yourself better so you can feel better.
      = image_tag("/images/anxiety_cycle.png", :alt => "The iCouch Anxiety Cycle.")
    %p
      To learn more about iCouch online therapy and therapy in general, please visit the #{link_to "iCouch Lounge", the_lounge_path}. Here you'll find frequently asked questions, an explanation of therapy styles and other great information. You're also invited to read the #{link_to "iCouch Blog", "http://blog.icouch.me/"} where you can find helpful information on all sorts of mental health and wellness topics.
%section#home
  = render partial: 'dashboards/search'
  %hr