%section#sign_up
  %header
    %h1 Counselor Sign Up

  %nav.block_nav
    %ul
      %li{class: active_if_matches(/account/)}= link_to "Account", '#'
      %li{class: active_if_matches(/professional_information/)}= link_to "Professional Information", '#'
      %li{class: active_if_matches(/session_preference/)}= link_to "Session Preferences", '#'

  = fancy_form_for counselor, url: counselor_account_path, :html => { :class => "standard" } do |f|
    %fieldset
      %h1 Basic Information
      = f.dl_input :text_field, :first_name
      = f.dl_input :text_field, :last_name
      = f.dl_input :phone_field, :phone_number
      = f.dl_input :text_field, :skype_id
      = render 'users/counselor_address_fields', :form => f
    %fieldset
      %h1 Account Information
      = f.dl_input :email_field, :email
      = f.dl_input :password_field, :password
      = f.dl_input :password_field, :password_confirmation
      %label.checkbox(for="counselor_terms_of_service")
        = f.check_box :terms_of_service
        I agree to the
        = link_to "Terms of Service", terms_of_service_path
        and
        = link_to "Privacy Policy", privacy_policy_path
        = f.error_message_on :terms_of_service
    %fieldset.actions
      %input(type="submit" value="Continue Registration")
      = link_to "Cancel", root_path
      = render 'shared/privacy'
