%section#sign_up
  %header
    %h1 Counselor Sign Up

  %nav.block_nav
    %ul
      %li{class: active_if_matches(/account(?!.*(session|professional))/)}= link_to "Account", '#'
      %li{class: active_if_matches(/professional_information/)}= link_to "Professional Information", '#'
      %li{class: active_if_matches(/session_preference/)}= link_to "Session Preferences", '#'

  = fancy_form_for counselor, :url => counselor_account_session_preference_path, :html => {:method => :post, :class => "standard"} do |f|
    %fieldset.session_preferences
      %h1 Session Preferences
      %dl
        %dt I specialize in:
        %p Please select no more than 5.
        %dd.checkboxes
          %ul
            - issues.each do |issue|
              %li
                = check_box_tag 'counselor[issue_ids][]', issue.id, issues_ids.include?(issue.id) ,id: "counselor_issues_ids_#{issue.id}"
                = label_tag "counselor_issues_ids_#{issue.id}", issue.name.titleize, false
        %dt= f.label :other_issues
        %dd= f.text_area :other_issues
      %dl
        %dt I speak these languages
        %dd.checkboxes= f.check_box_list_with_other :languages
      %dl
        %dt I'm familiar with these religion(s) and denomination(s)
        %dd.checkboxes= f.check_box_list_with_other :religions
    %fieldset.actions
      %input(type="submit" value="Finish Registration")
      = link_to "Cancel", "#"
      = render 'shared/privacy'
